@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Limelight&display=swap');
/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
	font-family: 'EB Garamond', serif;
}
#wrapper{
	width:100%;
}
.container{
	width:850px;
	margin:0 auto;
}
.header{
	width:100%;
	height:80px;
	background: rgb(218,230,236);
background: linear-gradient(90deg, rgba(218,230,236,1) 25%, rgba(141,220,255,1) 100%);
	overflow:hidden;
}
.logo{
	width:30%;
/*	height:100% ;*/
    line-height:80px;
	float:left;
	/*background: red;*/
}
.logo a{
	font-weight: 600;
	font-size:40px;
	text-decoration: none;
	color:lightsteelblue;
}
.logo a:hover{
	color:aliceblue;
}

.menu{
	width:70%;
	/*background:#F1F4B9;*/
	float:right;
}

.menu ul {
	list-style: none;
	text-align: right;
}
.menu ul li{
	display:inline-block;
	margin-left:50px;
	line-height:80px;
}
.menu ul li a{
	font-size: 18px;
	text-decoration: none;
	color:#004288;
}
.menu ul li a:hover{
	color:aliceblue;
}
.main{
	width:100%;
}
.banner{
	width:100%;
	height:500px;
	background:#DDF3F8;
	padding:50px 0;
}
.text-box{
	width:70%;
	

	float:left;
}
.text-box p{
	margin:14px 0 50px;
}
.btn{
	background:#ABDDF5;
	padding:20px 50px;
	color:aliceblue;
	text-decoration: none;
	font-size:30px;
}

.img-banner{
	width:28%;
	float:right;
}
.services{
	background:#E9F6FB;
	padding:50px 0;
	height:1273px;
}
.sv-box{
	width:300px;
	height:300px;
	background:#FFFFFF;
	padding:48px; 
	margin:100px 0 0 40px;
	box-shadow:5px 20px 50px  lightblue;
}
.sv-left{
	width:50%;
	float:left;
	
}
.sv-right{
	width:50%;
	float:right;
	
}
.footer{
	width:100%;
	height:60px;
	background:#A8D4F4;
}
.hi{
	font-size:20px;
	float:right;
	line-height:60px;
}

	


	

	
	
